<!-- Navigation Component -->
<nav class="nav">
    <div class="nav-content">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/index.html" class="nav-link">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Thông tin công ty</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Dịch vụ nội bộ</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Tài liệu công ty</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Liên hệ</a>
            </li>
        </ul>
    </div>
</nav> 